.dashboard-title {
    text-align: center;
    font-size: 26px;
    font-weight: 600; 
    color: #333; 
    margin-bottom: 20px; 
    letter-spacing: 0.5px; 
    text-transform: capitalize;
    font-family: 'Arial', sans-serif; 
    display: flex;
    padding-bottom: 10px;
    padding-top : 20px;
    padding-left: 80px ;
  }
  
  .metrics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .metric-card {
    background: #f8f8f8;
    padding: 12px;
    border-radius: 12px;
    flex: 0 0 48%;
    text-align: center;
  }
  
  .metric-title {
    font-size: 14px;
    color: gray;
  }
  
  .metric-value {
    font-size: 20px;
    font-weight: bold;
  }
  
  .expense-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .expense-list li {
    padding: 4px 0;
    font-size: 16px;
  }
  